#btn-prev, #btn-next {
  cursor: pointer;
}
@media (max-width: 1100px) {
  .theta-carousel-inner-container {
    left: auto !important;
    margin-top: 50px;
    transform: none !important;
  }
}
#bottles .collection {
  height: 980px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/bottle/copper.png) bottom center no-repeat;

  @media (max-width: 768px) {
    height: 580px;

    img {
      max-height: 380px !important;
    }
  }
  .content {
    overflow: hidden;

    img {
      /*width: 100%;*/
      border-bottom-left-radius: .6rem;
      border-bottom-right-radius: .6rem;
      margin: auto;
    }
  }

  .text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      font-size: 1.7rem;
      font-weight: 500;
    }

    p {
      max-width: 22rem;
      font-size: .8rem;
      font-weight: 400;
      text-align: center;
    }

  }
}